.loaderLogin {
  margin-top: 11px;
  width: 25px;
  height: 25px;
  border: 5px solid #fef1dd;
  border-bottom-color: #979797;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
